:root {
  --primary-color: #210A72;
  --secondary-color: #E68244;
  --tertiary-color: #FBD4D5;
  --footer-color: #57F1B1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header begins*/
header{
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav{
  margin: 0 10px; 
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  
}

header nav ul li {
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
  text-shadow: 1px 1px black;
  cursor: pointer;
}

a:active{
  background-color: rgb(251, 212, 213, 0.75);
}

.name-text {
  color: #A5D6E4;
  text-shadow: 1px 1px black; 
}

.social-media {
height: 40px;
width: 40px;
margin: 0 10px 15px 0;
}
/*Header Ends*/


/*About Me Section Begins*/
.about-me {
color: var(--secondary-color);
width: 35%;
font-size: larger;
text-align: right;
margin-left: 10%;
margin-top: 10%;

}

.about-me h3 {
text-shadow: 1px 1px black;

}

.about-me-img {
height: 50vh;
width: 40%;
border-radius: 75%;
bottom: 15vw;
position: relative;
left: 25vw;

border: 2px solid var(--tertiary-color);
}
/*About Me Ends*/

/*My Work Section Begins*/
.project {
color: var(--tertiary-color);
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.project h4 {
text-shadow: 1px 1px black;
text-align: center;
}

.project-display {
  position: relative;
}

.project-label {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(251, 212, 213, 0.75);
  color: var(--primary-color);
  padding-left: 20px;
  padding-right: 20px;
}


.project-img {
height: 40vh;
width: 49vw;
border: 2px solid var(--tertiary-color);
}

#first-project-img {
height: 95%;
width: 58%;
position: relative;
left: 21%;
border: 2px solid var(--tertiary-color);
}
/*My Work Section Ends*/

/*Footer Section Begings*/
.footer {
background-color: var(--primary-color);
display: flex;
width: 100%;
height: 25%;
padding: 10px 35px;
justify-content: center;
flex-wrap: wrap;
/* position: sticky; */
}

.contact {
color: var(--primary-color);
text-shadow: 1px 1px black;
}

.contact h4 a {
color: var(--primary-color);
text-shadow: none;
}
/*Footer Section Ends*/

/*Media Queries Begin*/
@media screen and (max-width: 980px) {

.project-img {
  height: 250px;
  width: 200px;
}

.about-me-img {
  height: 45vh;
  width: 50%;
  border-radius: 75%;
  bottom: 40vh;
}

.project-img {
  height: 250px;
  width: 485px;
}

}

@media screen and (max-width: 768px) {
 .name-text {
  padding: 35%;
 }

 .about-me-img {
  height: 45%;
  width: 35%;
  left: 52%;
 }

 .project-img {
  height: 200px;
  width: 380px;
 }
}

@media screen and (max-width: 575px) {
 .name-text {
  padding: 30%;
  bottom: -12%;
 }

 .about-me-img {
  height: 39%;
  width: 39%;
  left: 52%;
  top: 100%;
 }

 #first-project-img {
  height: 85%;
  width: 90%;
  position: relative;
  left: 5%;
}

.project-img {
height: 143px;
width: 285px;
position: relative;
}
}