:root {
  --primary-color: #210a72;
  --secondary-color: #e68244;
  --tertiary-color: #fbd4d5;
  --footer-color: #57f1b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

.pageTitle {
  color: var(--tertiary-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 0 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.active {
  background-color: rgb(251, 212, 213, 0.75);
  border-radius: 3px;
  padding: 0.25rem 1rem;
}

.name-text {
  color: #a5d6e4;
  text-shadow: 1px 1px black;
}

.social-media {
  height: 40px;
  width: 40px;
  margin: 0 10px 15px 0;
}

.about-me-container {
  margin: auto;
  width: 12%;
  align-items: center;
  
}

.about-me p {
  color: var(--secondary-color);
  width: 80%;
  font-size: larger;
  text-align: center;
  margin: auto;
  padding: 3%;
}

.about-me h2 {
  text-shadow: 1px 1px black;
  margin: auto;
  padding: 10%;
}

.about-me-img {
  height: 300px;
  width: 200px;
  border-radius: 75%;
  align-items: center;
  border: 2px solid var(--tertiary-color);
}


.project {
  color: var(--tertiary-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project h4 {
  text-shadow: 1px 1px black;
  text-align: center;
}

.project-display {
  position: relative;
}

.project-label {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(251, 212, 213, 0.75);
  color: var(--primary-color);
  padding-left: 20px;
  padding-right: 20px;
}

.project-img {
  height: 40vh;
  width: 49vw;
  border: 2px solid var(--tertiary-color);
}

#first-project-img {
  height: 95%;
  width: 58%;
  position: relative;
  left: 21%;
  border: 2px solid var(--tertiary-color);
}

.qr-container p {
  color: var(--secondary-color);
  width: 80%;
  font-size: larger;
  text-align: center;
  margin: auto;
  padding: 3%;
}

.resume-proficiencies {
  color: #a5d6e4;
  text-shadow: 1px 1px black;
  margin: auto;
  
}

.resume-proficiencies h3 {
  color: var(--secondary-color);
  width: 80%;
  font-size: larger;
  
  margin: auto;
  padding: 3%;
  margin:auto;
  padding: 3%;
  text-align: center;
}

.resume-proficiencies p {
  color: var(--secondary-color);
  width: 50%;
  font-size: larger;
  
  margin: auto;
  padding: 3%;
}

.resume-proficiencies li {
  color: #a5d6e4;
  text-shadow: 1px 1px black;
  margin: auto;
  width: 50%;
}

.footer {
  background-color: var(--primary-color);
  display: flex;
  width: 100%;
  height: 25%;
  padding: 10px 35px;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--tertiary-color);
}

form {
  width: 40%;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
  flex-wrap: wrap;
  
}
.form-container {
  margin: auto;
  width: 50%;
}

label {
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--tertiary-color);
  text-shadow: 1px 1px black;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  margin: 10px;
  border: 2px solid var(--tertiary-color);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  display: block;
  justify-content: space-between;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid var(--tertiary-color);
	padding: 5px;
  margin: 10px;
}

.contact {
  color: var(--primary-color);
  text-shadow: 1px 1px black;
}

.contact h4 a {
  color: var(--primary-color);
  text-shadow: none;
}

.qr-container {
  margin: auto;
  width: 30%;
}

@media screen and (max-width: 980px) {
  .project-img {
    height: 250px;
    width: 200px;
  }

  .about-me-img {
    height: 45vh;
    width: 50%;
    border-radius: 75%;
    bottom: 40vh;
  }

  .project-img {
    height: 250px;
    width: 485px;
  }
}

@media screen and (max-width: 768px) {
  .name-text {
    padding: 35%;
  }

  .about-me-img {
    height: 45%;
    width: 35%;
    left: 52%;
  }

  .project-img {
    height: 200px;
    width: 380px;
  }
}

@media screen and (max-width: 575px) {
  .name-text {
    padding: 30%;
    bottom: -12%;
  }

  .about-me-img {
    height: 39%;
    width: 39%;
    left: 52%;
    top: 100%;
  }

  #first-project-img {
    height: 85%;
    width: 90%;
    position: relative;
    left: 5%;
  }

  .project-img {
    height: 143px;
    width: 285px;
    position: relative;
  }
}
